<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdtl.ad_din">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo_round_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rdtl.ad_din.activity.InfoActivity"></activity>
        <activity
            android:name="com.rdtl.ad_din.activity.Amol_Activity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.ReadHadisActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.HadisTypeActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.BisheshNamajActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.KalimaActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity android:name="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.BookmarkActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.AllahNameActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.ReadSuraActivity"
            android:parentActivityName="com.rdtl.ad_din.SuraActivity" />
        <activity
            android:name="com.rdtl.ad_din.activity.HadisTypeActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity
            android:name="com.rdtl.ad_din.SuraActivity"
            android:parentActivityName="com.rdtl.ad_din.activity.KotlinActivity" />
        <activity android:name="com.rdtl.ad_din.activity.BaseActivity" />
        <activity android:name="com.rdtl.ad_din.activity.EightDivisonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rdtl.ad_din.MainActivity"
            android:launchMode="singleTop" />

        <receiver android:name="com.rdtl.ad_din.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity android:name="com.rdtl.ad_din.ExampleAppWidgetConfig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name="com.rdtl.ad_din.ExampleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>