<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.islamicappb">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReadHadisActivity"
            android:parentActivityName=".HadisTypeActivity"/>
        <activity
            android:name=".BisheshNamajActivity"
            android:parentActivityName=".KotlinActivity" />
        <activity android:name=".NamajerNiomActivity" />
        <activity
            android:name=".KalimaActivity"
            android:parentActivityName=".KotlinActivity" />
        <activity android:name=".KotlinActivity" />
        <activity
            android:name=".BookmarkActivity"
            android:parentActivityName=".KotlinActivity" />
        <activity
            android:name=".AllahNameActivity"
            android:parentActivityName=".KotlinActivity" />
        <activity
            android:name=".ReadSuraActivity"
            android:parentActivityName=".SuraActivity" />
        <activity android:name=".HadisTypeActivity"
            android:parentActivityName=".KotlinActivity"/>
        <activity
            android:name=".SuraActivity"
            android:parentActivityName=".KotlinActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".EightDivisonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".WidgetProvider"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
    </application>

</manifest>