<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdtl.ad_din">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo_round_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.OurNotificationActivity"
            android:parentActivityName=".activity.KotlinActivity"></activity>

        <activity android:name=".activity.RamajanDetailsActivity"
            android:parentActivityName=".activity.KotlinActivity"/>

        <activity android:name=".activity.InfoActivity" />
        <activity
            android:name=".activity.Amol_Activity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity
            android:name=".activity.ReadHadisActivity"
            android:parentActivityName=".activity.HadisTypeActivity" />
        <activity
            android:name=".activity.BisheshNamajActivity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity
            android:name=".activity.KalimaActivity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity android:name=".activity.KotlinActivity" />
        <activity
            android:name=".activity.BookmarkActivity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity
            android:name=".activity.AllahNameActivity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity
            android:name=".activity.ReadSuraActivity"
            android:parentActivityName=".SuraActivity" />
        <activity
            android:name=".activity.HadisTypeActivity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity
            android:name=".SuraActivity"
            android:parentActivityName=".activity.KotlinActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.EightDivisonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />

        <receiver android:name=".ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity android:name=".ExampleAppWidgetConfig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".ExampleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>